<launch>
  <arg name="init_x_" default="0"/>
  <arg name="init_y_" default="0"/>
  <arg name="init_z_" default="2"/>
  
  <arg name="map_size_x" value="40.0"/>
  <arg name="map_size_y" value="40.0"/>
  <arg name="map_size_z" value=" 3.0"/>

  <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen">
    <param name="num_worker_threads" value="16"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="so3_quadrotor" args="load so3_quadrotor/Nodelet manager" output="screen">
    <rosparam file="$(find uav_simulator)/config/so3_quadrotor.yaml"/>
    <param name="init_x" value="$(arg init_x_)" />
    <param name="init_y" value="$(arg init_y_)" />
    <param name="init_z" value="$(arg init_z_)" />
    <remap from="~odom" to="odom"/>
    <remap from="~imu" to="imu" />
    <remap from="~so3cmd" to="so3cmd"/>
    <remap from="~vis" to="vis"/>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="so3_controller" args="load so3_controller/Nodelet manager" output="screen">
    <rosparam file="$(find uav_simulator)/config/so3_controller.yaml"/>
    <remap from="~odom" to="odom"/>
    <remap from="~imu" to="imu" />
    <remap from="~so3cmd" to="so3cmd"/>
    <remap from="~position_cmd" to="position_cmd"/>
  </node>

  <node pkg="local_sensing_node" type="pcl_render_node" name="pcl_render_node" output="screen">
    <rosparam command="load" file="$(find local_sensing_node)/params/camera.yaml" />
    <param name="sensing_horizon" value="5.0" />
    <param name="sensing_rate" value="30.0"/>
    <param name="estimation_rate" value="30.0"/>
    
    <param name="map/x_size"     value="$(arg map_size_x)"/>
    <param name="map/y_size"     value="$(arg map_size_y)"/>
    <param name="map/z_size"     value="$(arg map_size_z)"/>

    <remap from="~global_map" to="/global_map"/>
    <remap from="~odometry" to="odom"/>
    <remap from="~depth" to="depth"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="mapping" args="load mapping/Nodelet manager" output="screen">
    <!-- camera parameters -->
    <rosparam command="load" file="$(find mapping)/config/camera.yaml"/>
    <!-- remap topics -->
    <remap from="~odom" to="odom"/>
    <remap from="~depth" to="depth"/>
    <remap from="~gridmap" to="gridmap"/>
    <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    <param name="down_sample_factor" value="2"/>
    <!-- depth filter parameters -->
    <param name="depth_filter_tolerance" value="0.15"/>
    <param name="depth_filter_mindist" value="0.2"/>
    <param name="depth_filter_margin" value="2"/>
    <!-- raycasting parameters -->
    <param name="p_min" value="-199"/>
    <param name="p_max" value=" 220"/>
    <param name="p_hit" value="  62"/>
    <param name="p_mis" value="  62"/>
    <param name="p_occ" value=" 139"/>
    <param name="p_def" value="-199"/>
    <!-- mapping parameters -->
    <param name="resolution" value="0.15"/>
    <param name="local_x" value="20"/>
    <param name="local_y" value="20"/>
    <param name="local_z" value="5"/>
    <param name="inflate_size" value="1"/>
  </node>
</launch>
