<launch>

  <arg name="rhosVisibility_"/>
  <arg name="rhoTracking_"/>
  <arg name="target_name_"/>
  <arg name="odom_topic" default="odom"/>
  <arg name="trigger_topic" default="/tracker_trigger"/>
  <arg name="land_trigger_topic" default="/land_triger"/>
  <arg name="preempt_topic" default="/tracker_preempt"/>
  <arg name="mode_trigger_topic" default="/uav_planner/trigger"/>
  <arg name="tracker_session_topic" default="/track/session"/>
  <arg name="tracker_takeover_ready_topic" default="/track/takeover_ready"/>
  <arg name="cmd_owner_topic" default="/uav_planner/cmd_owner"/>
  <arg name="position_cmd_topic" default="position_cmd"/>
  <arg name="tracker_cmd_period_sec" default="0.01"/>
  <arg name="tracker_yaw_rate_max" default="1.5"/>

  <!-- <node pkg="nodelet" type="nodelet" name="plan_manage" args="manager" output="screen">
    <param name="num_worker_threads" value="16"/>
  </node> -->

  <node pkg="nodelet" type="nodelet" name="planning" args="load planning/Nodelet manager" output="screen">
    <remap from="~odom" to="$(arg odom_topic)"/>
    <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    <remap from="~heartbeat" to="heartbeat"/>
    <remap from="~trajectory" to="trajectory"/>
    <remap from="~replanState" to="replanState"/>
    <remap from="~target" to="$(arg target_name_)"/>
    <remap from="~triger" to="$(arg trigger_topic)"/>
    <remap from="~land_triger" to="$(arg land_trigger_topic)"/>
    <remap from="~preempt" to="$(arg preempt_topic)"/>
    <remap from="~mode_trigger" to="$(arg mode_trigger_topic)"/>
    <remap from="~cmd_owner" to="$(arg cmd_owner_topic)"/>
    <remap from="~tracker_session" to="$(arg tracker_session_topic)"/>
    <remap from="~takeover_ready" to="$(arg tracker_takeover_ready_topic)"/>

    <param name="plan_hz" value="20"/>

    <param name="K" value="8"/>
    <param name="vmax" value="2.0"/>
    <param name="amax" value="3.0"/>
    <param name="rhoT" value="100.0"/>
    <param name="rhoP" value="10000.0"/>
    <param name="rhoV" value="1000.0"/>
    <param name="rhoA" value="1000.0"/>
    <param name="rhoTracking" value="$(arg rhoTracking_)"/>
    <param name="rhosVisibility" value="$(arg rhosVisibility_)"/>
    <param name="theta_clearance" value="0.8"/>
    <param name="clearance_d" value="0.2"/>
    <param name="tolerance_d" value="0.3"/>
    <param name="tracking_dist" value="2.5"/>
    <param name="tracking_dur" value="3.0"/>
    <param name="tracking_dt" value="0.2"/>
    <param name="debug" value="false"/>

    <param name="prediction/rho_a" value="1.0"/>
    <param name="prediction/vmax" value="2.0"/>

  </node>
  <node pkg="planning" name="traj_server" type="traj_server" output="screen">
    <remap from="~position_cmd" to="$(arg position_cmd_topic)"/>
    <remap from="~trajectory" to="trajectory"/>
    <remap from="~heartbeat" to="heartbeat"/>
    <remap from="~preempt" to="$(arg preempt_topic)"/>
    <remap from="~tracker_session" to="$(arg tracker_session_topic)"/>
    <remap from="~target" to="$(arg target_name_)"/>
    <param name="cmd_owner_topic" value="$(arg cmd_owner_topic)"/>
    <param name="owner_mode" value="2"/>
    <param name="strict_owner_gate" value="true"/>
    <param name="odom_topic" value="$(arg odom_topic)" type="string"/>
    <param name="cmd_period_sec" value="$(arg tracker_cmd_period_sec)" type="double"/>
    <param name="yaw_rate_max" value="$(arg tracker_yaw_rate_max)" type="double"/>
    <param name="face_target_yaw" value="true" type="bool"/>
    <param name="face_target_yaw_on_hover" value="true" type="bool"/>
    <param name="target_topic" value="target" type="string"/>
    <param name="target_lookahead_sec" value="0.03" type="double"/>
    <param name="target_max_age_sec" value="0.3" type="double"/>
    <param name="time_forward" value="1.0" type="double"/>
  </node>
</launch>
